label, #coord, #status {
    color: grey;
    font-size: 10px;
    height: 15px
}

/*
#control {
    margin-top: 1em;
}

#control label {
    font-weight: bold;
    margin-right: 1em;
}

#control select {
    padding: 0.25em 0.5em;
}
*/

#run {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.hide {
    visibility: hidden;
    height: 0px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}