html, body, main {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    max-width: 840px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 800px) {
    body {
        padding: 10px;
        box-sizing: border-box;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    margin-top: 2em;
    font-size: 12px;
    text-align: center;
}

.tabContent {
    max-width: 840px;
    width: 100%;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
